@tailwind base;
@tailwind components;
@tailwind utilities;

.project-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.project-stacks > li {
  padding-right: 10px;
}

.project-stacks-link {
  margin: 10px 10px 0 0;
}

.programming-skills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0 8px;
}

.contacts {
  gap: 0 8px;
} 

.programming-skills .skill-star {
  padding-left:5px;
}
